.about {
  background-color:black;
  height: 400px;
  /* font-family: 'Syncopate', sans-serif; */
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
}

h1 {
  color: rgb(39, 142, 216);
  font-size: 60px;
}

p {
  /* color: rgb(39, 142, 216); */
  color: rgb(39, 142, 216);
  display: inline-block;

}


a:link {
  color: rgb(39, 142, 216);
}

a:visited {
  color: rgb(39, 142, 216);
}

.flexbox-item-1 {
  border: 7px solid rgb(39, 142, 216);
  border-radius: 50px;
  margin: auto;
}

body {
  display: flex;
  padding: 20px;

}

.about img {
  border: 10px white;
  border-radius: 200px;
  border: 5px solid rgb(39, 142, 216);
}