.about {
  background-color:black;
  height: 400px;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: 700;
  /* display: inline-block; */
  padding: 30px;
}

/* .about h1 {
  color: rgb(39, 142, 216);
  font-size: 60px;
  display: block;
  white-space: nowrap;
  overflow-wrap: normal;
  margin-top: 0;
  margin-left: 15px;
} */

.about p {
  color: white;
  font-weight: 700;
  font-size: 30px;
  /* display: inline; */
  width: 610px;
  height: 200%;
  /* position: relative; */
  padding: 30px;

}

.about img {
  border-radius: 200px;
  border: 5px solid rgb(39, 142, 216);
  /* display: inline; */
  padding: 30px;
}

a:link {
  color: rgb(39, 142, 216);
}

a:visited {
  color: rgb(39, 142, 216);
}

.about div {
display: flex;
justify-content: center;
width: 80%;
}



