.contact {
  background-color:black;
  height: 400px;
  font-family: 'Syncopate', sans-serif;
}

h1 {
  color: rgb(39, 142, 216);
}

h2 {
  color: rgb(39, 142, 216);
}

a:link {
  color: white;
}

a:visited {
  color: rgb(39, 142, 216);
}