.contact {
  background-color:black;
  height: 400px;
  /* font-family: 'Syncopate', sans-serif; */
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: 700;
}

h1 {
  color: rgb(39, 142, 216);
  font-size: 60px;
}

h2 {
  color: rgb(39, 142, 216);
  font-size: 40px;
}



a:link {
  color: white;
}

a:visited {
  color: rgb(39, 142, 216);
}


.flexbox-item-2 {
  border: 7px solid rgb(39, 142, 216);
  border-radius: 50px;
  margin: auto;
}

body {
  display: flex;
  padding: 20px;

}
