.home {
  background-color:black;
  height: 400px;
  font-family: 'Syncopate', sans-serif;

}
a:visited {
  color: rgb(39, 142, 216);
}

h1 {
  color: rgb(39, 142, 216);
}

h2 {
  color: rgb(39, 142, 216);
}