.projects {
  background-color:black;
  height: 400px;
  /* font-family: 'Syncopate', sans-serif; */
  font-family: 'Amatic SC', cursive;
}

a:link {
  color: white;
}

a:visited {
  color: rgb(39, 142, 216);
}