.projects {
  background-color:black;
  height: 225px;
  /* font-family: 'Syncopate', sans-serif; */
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Secular One', sans-serif;
  /* padding: 40px; */
  margin-bottom: 50px;
  padding: 40% 0 0 0;
}

a:link {
  color: rgb(39, 142, 216);
  text-decoration: none;

}

a:visited {
  color: rgb(39, 142, 216);
  text-decoration: none;

}

.projects li {
  font-size: 30px;
  font-weight: 700;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.projects ul, a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.projects button {
  background-color: transparent;
  color: white;
  font-weight: 700;
  border-radius: 50px;
  border: 3px solid white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  margin-bottom: 30px;
  /* margin: 5px; */


  }



.projects img{
  border: 5px solid white;
}

/* .projects h1 {
  color: rgb(39, 142, 216);
  font-size: 55px;
  margin-left: 40px;
} */

.projects h3 {
  color: rgb(39, 142, 216);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}