.resume {
  background-color:black;
  height: 440px;
  /* height: 1000px; */
  /* font-family: 'Syncopate', sans-serif; */
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Secular One', sans-serif;
  padding: 50px;
}

.resume h1 {
  color: rgb(39, 142, 216);
  font-size: 48px;
  margin-bottom: 0;
  /* margin-top: 0; */
}

a:link {
  color: rgb(39, 142, 216);
}

a:visited {
  color: rgb(39, 142, 216);
}

/* .resume p {
  color: rgb(39, 142, 216);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 520px;
  height: 30%;
  font-size: 30px;
  width: 100%;
} */

.resume a {
  font-size: 23px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.resume img {
  margin-bottom: 100px;
  margin-top: 100px;
  margin-top: 25px;

}
