.projectPreview {
  background-color:black;
  background-size: cover;
  /* font-family: 'Syncopate', sans-serif; */
  font-family: 'Amatic SC', cursive;
}

a:visited {
  color: rgb(39, 142, 216);
}


.projectPreview div {
  width: 100%;
  margin-bottom: 10px;
}
